@import url("../../../css/reset.css");
@import url("./header-page.css");
@import url("./pets-page.css");
@import url("./footer.css");

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

h1 {
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h3 {
  font-size: 32px;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: Georgia;
  letter-spacing: 0.06em;
}

p {
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
}

/*_____________________ Адаптив для 768px _____________________*/

@media only screen and (max-width: 1279px) {
  .wrapper {
    width: 768px;
  }
}

/*_____________________ Адаптив для 320px _____________________*/

@media only screen and (max-width: 767px) {
  .wrapper {
    width: 320px;
  }
}