.filter-price-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.filter-price-button-container {
  display: flex;
  gap: 5px
}

.filter-price-title-container button {
  font-size: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
}

.filter-price {
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.filter-price .filter-input {
  width: 150px;
}