.sorting {
  padding-top: 20px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sorting span {
  margin-right: 10px;
}

.sorting-select {
  margin-right: 70px;
}