.about {
  padding: 80px 215px 100px;
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 430px;
  margin-top: 14px;
}

.about-title {
  color: #545454;
  line-height: 45.5px;
  width: 370px;
}

.text-description {
  color: #4C4C4C;
  margin-top: 25px;
  line-height: 24px;
}