.about {
  padding: 80px 215px 100px;
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 430px;
  margin-top: 14px;
}

.about-title {
  color: #545454;
  line-height: 45.5px;
  width: 370px;
}

.text-description {
  color: #4C4C4C;
  margin-top: 25px;
  line-height: 24px;
}

/*_____________________ Адаптив для 768px _____________________*/

@media only screen and (max-width: 1279px) {
  .about {
    padding: 80px 166px 97px 165px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-text {
    margin-top: 0px;
  }

  .about-img-wrapper {
    margin-top: 80px;
  }
}

/*_____________________ Адаптив для 320px _____________________*/

@media only screen and (max-width: 767px) {
  .about {
    padding: 42px 10px;
  }

  .about-title {
    width: 300px;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
  }

  .about-text {
    width: 300px;
    margin-top: 0px;
  }

  .text-description {
    padding: 0 15px;
    text-align: justify;
  }

  .about-text-second {
    margin-top: 22px;
  }

  .about-img-wrapper {
    margin-top: 41px;
  }

  .about-img {
    width: 260px;
  }
}