.about {
  padding: 80px 215px 100px;
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 430px;
  margin-top: 14px;
}

.about-title {
  color: #545454;
  line-height: 45.5px;
  width: 370px;
}

.text-description {
  color: #4C4C4C;
  margin-top: 25px;
  line-height: 24px;
}

/*_____________________ Адаптив _____________________*/

@media only screen and (max-width: 1279px) {
  .about {
    padding: 80px 166px 100px 165px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-text {
    margin-top: 0px;
  }

  .about-img {
    margin-top: 80px;
  }
}