footer {
  padding: 40px 40px 0px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),#211F20;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content-text {
  width: 740px;
  display: flex;
  justify-content: space-between;
}

.footer-card {
  margin-top: 16px;
  width: 280px;
}

.footer-card-right {
  width: 302px;
}

.footer-card-right {
  width: 302px;
}

.footer-title {
  color: #FFFFFF;
  line-height: 45.5px;
}

.footer-text {
  margin-top: 39px;
  color: #F1CDB3;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.footer-tel-link {
  margin-top: 40px;
}

.footer-text-icon {
  margin-right: 20px;
}

.contact-links {
  text-decoration: none;
}

.contact-links-top {
  margin-top: 32px;
}

.contact-links-bottom {
  margin-top: 33px;
}

/*_____________________ Адаптив для 768px _____________________*/

@media only screen and (max-width: 1279px) {
  footer {
    padding: 31px 30px 0px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content-text {
    display: flex;
    width: 640px;
    justify-content: space-between;
  }

  .footer-img {
    margin-top: 65px;
    width: 300px;
  }

  .footer-card {
    margin-top: 0px;
  }
}

/*_____________________ Адаптив для 320px _____________________*/

@media only screen and (max-width: 767px) {
  footer {
    padding: 30px 10px 0px;
  }

  .footer-content-text {
    flex-direction: column;
    width: 300px;
    align-items: center;
  }

  .footer-title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 32.5px;
  }

  .footer-card-right {
    margin-top: 40px;
    width: 300px;
  }

  .footer-title-right {
    width: 270px;
    margin: 0 auto;
  }

  .footer-text.contact-links-top {
    margin-top: 39px;
    justify-content: flex-start;
  }

  .footer-text.contact-links-bottom {
    margin-top: 40px;
    justify-content: flex-start;
  }

  .footer-text {
    justify-content: center;
  }

  .footer-img {
    margin-top: 40px;
    width: 260px;
  }
}