.help {
  background-color: #FFFFFF;
  padding: 82px 40px 100px;
}

.help-title {
  color: #545454;
  line-height: 45.5px;
  text-align: center;
}

.help-list-content {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px 0;
}

.help-list-item:nth-child(1) {
  margin-left: 0px;
  margin-bottom: 55px;
}

.help-list-item:nth-child(5) {
  margin-right: 0px;
}

.help-list-img {
  width: 60px;
  height: 60px;
}

.help-list-text {
  margin-top: 30px;
  color: #545454;
  line-height: 23px;
}

/*_____________________ Адаптив для 768px _____________________*/

@media only screen and (max-width: 1279px) {
  .help {
    padding: 82px 69px 46px;
  }

  .help-list-content {
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .help-list-item {
    width: 170px;
    margin: 0 0 55px;
  }

  .help-list-item:nth-child(1) {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .help-list-item:nth-child(5) {
    margin-right: 0px;
  }
}

/*_____________________ Адаптив для 320px _____________________*/

@media only screen and (max-width: 767px) {
  .help {
    padding: 43px 15px 42px;
  }

  .help-title {
    font-size: 25px;
    line-height: 32.5px;
  }

  .help-list-content {
    margin-top: 42px;
  }

  .help-list-item {
    width: 130px;
    margin: 0 0 30px;
  }

  .help-list-text {
    margin-top: 20px;
  }

  .help-list-img {
    width: 50px;
    height: 50px;
  }

  .help-list-item h4 {
    font-size: 15px;
    line-height: 16.5px;
  }

  .help-list-item:last-child {
    margin-bottom: 0px;
  }
}