.pets {
  padding: 78px 40px 100px;
  background-color: #F6F6F6;
}

.pets-title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 45.5px;
  color: #545454;
}

.pets-content {
  margin-top: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pets-card-content {
  width: 990px;
  display: flex;
  justify-content: center;

  gap: 90px;
}

.pet-card {
  width: 270px;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
}

.pet-card:hover {
  /* transform: scale(1.1);
  transition: transform 0.3s ease; */
  cursor: pointer;
  background-color: #FFFFFF;
}

.pet-card:hover .pet-card-button {
  background-color: #FDDCC4;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #FDDCC4;
}

.pet-card-title {
  text-align: center;
  color: #545454;
  margin-top: 30px;
}

.pet-card-button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pet-card-button {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  font-family: Georgia;
  font-weight: 400;
  color: #292929;
  text-align: center;
  padding: 15px 45px;
  background-color: white;
  letter-spacing: 0.06em;
}

.pet-content-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-content-arrow:hover {
  background-color: #FDDCC4;
  cursor: pointer;
  border: none;
}

.pets-button-wrapper {
  display: flex;
  justify-content: center;
}

.pets-button {
  padding: 15px 45px;
  background-color: #F1CDB3;
  margin-top: 60px;
  border: 0px;
  border-radius: 100px;
  font-size: 17px;
  color: #292929;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
}

.pets-button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

  /* Реализация карусели */

.carousel-wrapper {
  width: 990px;
  margin: 0 20px;
  overflow: hidden;
}

.carousel {
  display: flex;
  position: relative;
  left: -990px;
}

@keyframes move-right {
  from {left: -990px;}
  to {left: -1980px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 0.5s;
}

@keyframes move-left {
  from {left: -990px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 0.5s;
}

.hidden {
  display: none;
}

  /* Реализация модального окна для 1280+ */
.modal-window {
  visibility: hidden;
  display: flex;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  z-index: 10;
  background-color: #FAFAFA;

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.modal-window_active {
  visibility: visible;
  z-index: 10;
}

.modal-content {
  margin-top: 50px;
  width: 351px;
  margin-left: 29px;
}

.modal-img {
  width: 500px;
  z-index: 50;
  border-radius: 9px;
}

.modal_type {
  margin-top: 40px;
}

.modal-name {
  color: #000000;
}

.modal-type {
  color: #000000;
}

.modal-breed {
  color: #000000;
}

.modal-description {
  margin-top: 40px;
  color: #000000;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  font-family: Georgia;
}

.modal-list {
  margin-top: 40px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  list-style-image: url(../../../assets/icons/dot.png);
}

.modal-list-item {
  margin-bottom: 10px;
}

.modal-list-title {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 700;
  line-height: 16.5px;
  letter-spacing: 0.06em;
}

.modal-list-text {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.06em;
}

.close-button {
  color: #aaa;
  font-weight: bold;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -52px;
  left: 900px;
}

.close-button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

/*_____________________ Адаптив для 768px _____________________*/

@media only screen and (max-width: 1279px) {

  .pets {
    padding: 81px 30px 100px;
  }

  /* .pet-card:hover {
    transform: scale(1.06);
  } */

  .pet-card:last-child {
    display: none;
  }

  .pets-card-content {
    width: 580px;
    gap: 40px;
  }

  .pet-card-title {
    margin-top: 30px;
  }

  /* Реализация карусели для 768+ */

.carousel-wrapper {
  width: 580px;
  margin: 0 12px;
  overflow: hidden;
}

.carousel {
  display: flex;
  position: relative;
  left: -580px;
}

@keyframes move-right {
  from {left: -580px;}
  to {left: -1160px;}
}

@keyframes move-left {
  from {left: -580px;}
  to {left: 0px;}
}

  /* Реализация модального окна для 768+ */
  .modal-window {
    width: 630px;
    height: 350px;
  }

  .modal-img {
    width: 350px;
  }

  .modal-content {
    margin-top: 10px;
    width: 260px;
    margin-left: 11px;
  }

  .modal_type {
    margin-top: 10px;
  }

  .modal-description {
    margin-top: 20px;
    line-height: 14.3px;
    font-size: 13px;
  }

  .modal-list {
    margin-top: 20px;
  }

  .modal-list-item {
    margin-bottom: 5px;
  }

  .close-button {
    top: -57px;
    left: 621px;
  }
}

/*_____________________ Адаптив для 320px _____________________*/

@media only screen and (max-width: 767px) {
  .pets {
    padding: 39px 10px 42px;
  }

  .pets-title {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 32.5px;
    font-size: 25px;
  }

  .pets-content {
    margin-top: 42px;
    flex-direction: column-reverse;
    flex-flow: wrap-reverse;
    justify-content: center;
  }

  .carousel-wrapper {
    margin: 0 auto;
    width: 270px;
    order: 1;
  }

  .pet-card-title {
    margin-top: 27px;
  }

  /* .pet-card:hover {
    transform: scale(1.04);
  } */

  .pet-card:nth-child(2) {
    display: none;
  }

  .pet-content-arrow {
    margin: 20px 40px 0px;
  }

  .pets-button {
    margin-top: 44px;
  }

  /* Реализация карусели для 320+ */

.carousel-wrapper {
  width: 270px;
  margin: 0 15px;
  overflow: hidden;
}

.carousel {
  display: flex;
  position: relative;
  left: -270px;
}

@keyframes move-right {
  from {left: -270px;}
  to {left: -540px;}
}

@keyframes move-left {
  from {left: -270px;}
  to {left: 0px;}
}

  /* Реализация модального окна для 320+ */
  .modal-window {
    width: 240px;
    transform: translate(-50%, -50%);
    height: auto;
    padding-bottom: 10px;
  }

  .modal-img {
    display: none;
  }

  .modal-content {
    margin-top: 10px;
    width: 220px;
    margin-left: 10px;
    padding-bottom: 0px;
  }

  .modal-name {
    text-align: center;
  }

  .modal_type {
    text-align: center;
    margin-top: 10px;
  }

  .modal-breed {
    color: #000000;
  }

  .modal-description {
    margin-top: 20px;
    line-height: 14.3px;
    font-size: 13px;
    text-align: justify;
  }

  .close-button {
    top: -57px;
    left: 215px;
  }
}