@import url("../../../css/reset.css");
@import url("./main-page.css");
@import url("./about-page.css");
@import url("./pets-page.css");
@import url("./help-page.css");
@import url("./donation-page.css");
@import url("./footer.css");

.wrapper {
  margin: 0 auto;
  width: 1280px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1 {
  font-size: 44px;
  font-family: Georgia;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 57.2px;
}

h2 {
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h3 {
  font-size: 32px;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: Georgia;
  letter-spacing: 0.06em;
}

p {
  font-size: 15px;
  font-family: Arial;
  font-weight: 400;
}

/*_____________________ Адаптив _____________________*/

@media only screen and (max-width: 1279px) {
  .wrapper {
    width: 768px;
  }

}

